<h1>Job Profile</h1>

<div>
    <h1>Title</h1>
    <h1><%= @job.title %></h1>
</div>

<div>
    <h1>salary per hour</h1>
    <h1><%= @job.salary_per_hour %></h1>
</div>

<div>
    <h1>Languages</h1>
    <h1><%= @job.languages %></h1>
</div>

<div>
    <h1>Shift days per week</h1>
    <h1><%= @job.shift_dates %></h1>
</div>